<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    {% for name in all_books %}
    <p>{{ name.name }} {{ name.author }} {{ name.category }}</p>
    {% endfor %}
    <form id="inputform" action='/postresult' method='post'>
      {% csrf_token %}
      <p>Name:<input type='text' name='name'></p>
      <p>Author:<input type='text' name='author'></p>
      <p>Category:<input type='text' name='category'></p>
      <input type='submit' name='submit' value='Submit'>
    </form>
  </body>
</html>
